<div class="row">
    <app-card id="grid-card" class="col-md-8" [options]="false" [hidHeader]="true">
        <kendo-grid #grid [data]="view" [selectable]="true" [navigable]="true" [pageSize]="state.take"
            [skip]="state.skip" [sortable]="true" [group]="state.group" [filter]="state.filter" [sort]="state.sort"
            [pageable]="true" [filterable]="true" [resizable]="true" kendoGridSelectBy="siraNo"
            (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column [width]="100" title="No">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </app-card>
    <app-card id="kantar-panel-card" class="col-md-4" [options]="false" [hidHeader]="true">
        <div class="modal-body">
            <div class="form-group">
                <label>Plaka</label>
                <kendo-dropdownlist [popupSettings]="{ appendTo: 'component' }" [filterable]="true" class="width"
                    [data]="f_dsPlaka" [textField]="'PlakaNo'" [valueField]="'AracId'" [valuePrimitive]="true"
                    (filterChange)="handleFilterArac($event)" [(ngModel)]="formData.AracId"
                    (valueChange)="plakaSelected($event)">
                </kendo-dropdownlist>
            </div>
            <div class="form-group">
                <label>Firma</label>
                <kendo-textbox [disabled]="true" class="width" [clearButton]="true" [(ngModel)]="formData.FirmaAdi"
                    placeholder="Firma">
                </kendo-textbox>
            </div>
            <div class="form-group">
                <label>Dara</label>
                <kendo-numerictextbox [disabled]="true" class="width" [spinners]="false" format="#"
                    [(ngModel)]="formData.Dara" placeholder="Dara">
                </kendo-numerictextbox>
            </div>
            <div class="form-group">
                <label>Tonaj</label>
                <kendo-numerictextbox [disabled]="true" class="width" [spinners]="false" format="#"
                    [(ngModel)]="formData.Tonaj" placeholder="Tonaj">
                </kendo-numerictextbox>
            </div>
            <div class="form-group">
                <label>Malzeme Türü</label>
                <kendo-dropdownlist [popupSettings]="{ appendTo: 'component' }" [filterable]="true" class="width"
                    [data]="f_dsMalzemeTur" [textField]="'MalzemeTuru'" [valueField]="'MalzemeTuruId'"
                    [valuePrimitive]="true" (filterChange)="handleFilterMalzeme($event)"
                    [(ngModel)]="formData.MalzemeTipiId" placeholder="Başvuru Yılı Seçiniz">
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="modal-footer">
            <app-button [buttonType]="ButtonType.Kaydet" (onclick)="save()"></app-button>
            <button class="btn btn-warning" (click)="clearForm()"> Temizle</button>
        </div>
    </app-card>
</div>