.form-label {
  padding-top: 5px;
}

.wrapper {
  padding: 10px 20px 50px 20px;
  height: 100%;
}

.input-row {
  margin-right: 0px;
  padding: 5px 0px;
}

.ayarlar-dropdown {
  margin-left: 169px;
}

.radio-label {
  padding-right: 20px;
}

h4 {
  margin: 0px;
  color: red;
  font-weight: bold;
}

hr {
  margin: 20px 0px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto; /* center it */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
